
<div class="span2">
    <ul id="sidenav" class="nav nav-pills nav-stacked">

    <%= link_to "lauren flynn", root_path, id: "logo" %>
    <br>
      <h5> works: </h5>
      <li class="<%= 'active' if current_page?(light_exp_path) %>"> <%= link_to "light experiments", light_exp_path %></li>
      <li class="<%= 'active' if current_page?(light_wall_path) %>"><%= link_to "traversing lights", light_wall_path %></li>
      <li class="<%= 'active' if current_page?(carvings_path) %>"><%= link_to "carvings", carvings_path %></li>
      <li class="<%= 'active' if current_page?(sisters_path) %>"><%= link_to "sisters", sisters_path %></li>
      <li class="<%= 'active' if current_page?(lines_path) %>"><%= link_to "lines", lines_path %></li>
      <li class="<%= 'active' if current_page?(figures_path) %>"><%= link_to "figures", figures_path %></li>
      <li class="<%= 'active' if current_page?(newer_path) %>"><%= link_to "newer embroideries", newer_path %></li>
      <li class="<%= 'active' if current_page?(new_path) %>"><%= link_to "new embroideries", new_path %></li>
      <br>
      <h5> info: </h5>
      <li class="<%= 'active' if current_page?(text_path) %>"><%= link_to "text", text_path %></li>
      <li class="<%= 'active' if current_page?(cv_path) %>"><%= link_to "cv", cv_path %></li>
      <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "contact", contact_path %></li>

    </ul>
</div>
